<h1>Editing Article</h1>

<div class="container">
<%= form_for(@tape) do |f| %>
  <% if @tape.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tape.errors.count, "error") %> prohibited this tape from being saved:</h2>

      <ul>
      <% @tape.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
      <p><strong>Сайт: </strong>
        <%= f.number_field :tp_site, size: 5 %>
      <strong>Тэг: </strong>
        <%= f.text_field :tp_tag, size: 10 %>
      <strong>Статус: </strong>
        <%= f.number_field :tp_status %>
      </p>
  </div>

  <div class="row">
    <div class="col-md-2">Статья:</div>
    <div class="col-md-10">
      <%#= f.text_field :tp_article, size: 100 %>
      <%#= @tape.tp_article %>
   	  <%= link_to @tape.tp_article, @tape.tp_url %>   
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">URL:</div>
    <div class="col-md-10">
      <%#= f.text_field :tp_url, size: 100 %>
      <%#=  @tape.tp_url %>
   	  <%= link_to @tape.tp_url, @tape.tp_url %>   
    </div>

  <div class="row">
    <div class="col-md-2">Коммент:</div>
    <div class="col-md-10">
      <%= f.text_area :tp_comments, cols: 100, rows: 7 %>
    </div>
  </div>

  <div class="row">
  <div class="actions">
    <%= f.submit %>
  </div>
  </div>


<% end %>
</div>

<%= link_to 'Show', @tape %> |
<%= link_to 'Back', tapes_path %>
