<p id="notice"><%= notice %></p>

<p>
  <strong>Bn head:</strong>
  <%= @band.bn_head %>
</p>

<p>
  <strong>Bn url:</strong>
  <%= @band.bn_url %>
</p>

<p>
  <strong>Bn anonce:</strong>
  <%= @band.bn_anonce %>
</p>

<p>
  <strong>Bn tema:</strong>
  <%= @band.bn_tema %>
</p>

<p>
  <strong>Bn rang:</strong>
  <%= @band.bn_rang %>
</p>

<p>
  <strong>Bn coment:</strong>
  <%= @band.bn_coment %>
</p>

<%= link_to 'Edit', edit_band_path(@band) %> |
<%= link_to 'Back', bands_path %>
